body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

h1,
p {
    color: #57a15a;
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: 'Roboto-italic', sans-serif;
}

h1 {
    font-size: 5rem;
    font-family: 'Lobster', cursive;
}

button {
    margin-top: 20px;
    padding: 0.75rem;
    border: 2px solid #57a15a;
    border-radius: 10px;
    color: #57a15a;
    background-color: transparent;
}

.container {
    text-align: center;
    width: 70%;
    margin: auto;
}

.dice1 {
    display: inline-block;
}

.dice2 {
    display: inline-block;
}

.dice2 {
    margin-left: 50px;
}

@font-face {
    font-family: 'Roboto-italic';
    src: url('./Roboto-Italic.ttf');
}
